#formulario-inicio-sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    gap: 1vh;
}

#FaUserCircle{
    font-size: 5rem;
    color: #000000;
}

.input-inicio-sesion, .btn-inicio-sesion {
    width: 33%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 15px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 1vh;
}

.btn-inicio-sesion {
    background: #000000;
    color: #fff;
    border: 0;
    cursor: pointer;
    padding: 0 15px;
    width: 11%;
}