.footer{
    margin-top: 2rem;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.seccion-footer{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-up{
    margin: 8% 10%;
}

.footer-up h3{
    margin-bottom: 1rem;
}

.footer-up p{
    height: 50%;
    width: 100%;
    text-align: justify;
}

.icono-footer{
    font-size: 2rem;
    margin: 0 1rem;
}

@media only screen and (max-width: 900px) {
    .footer{
        flex-direction: column;
    }

    .seccion-footer{
        width: 100%;
    }
}