/* Globales */
@import url('./assets/productList.css');
@import url('./assets/Navbar.css');
*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main, header {
	margin: 0 auto;
	max-width: 1200px;
	font-family: 'Lato';
	color: #333;
}


img {
	max-width: 100%;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 40px 0;
}

