/* Globales */
@import url('./assets/productList.css');
@import url('./assets/Navbar.css');
@import url('./assets/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main,
.container-centre {
	margin: 0 auto;
	max-width: 1200px;
	font-family: 'Lato';
	color: #333;	
}


img {
	max-width: 100%;
}

/* Header */
.container-centre {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 40px 0;
}
h2{
	font-family: 'Montserrat', sans-serif;
	color: white;
}
p{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: white;
}